:host {
  display: block;
  position: relative;
}

app-admin-articles-list {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  width: 80%;
}

app-dom-indicator {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 20%;
}
